.aim {
  width: 50em;
  min-height: 10em;
  border-radius: 10px;
  background-color: var(--bk-ld);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 1em 3em;
  margin: 8em auto 5em auto;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue';
  font-size: 5em;
  font-weight: 500;
}

.aimContent {
  font-size: 1.1em;
  font-weight: 500;
}

.ourTeam {
  margin: 4em auto;
  width: 65em;
}

.ourTeam > h1 {
  width: max-content;
  font-size: 10em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.teamCategory {
  margin: 2em auto;
}

.teamCategory > h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: max-content;
  margin: 0 auto;
  font-size: 4rem;
}

.teamCategory .cards {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2em;
  row-gap: 4em;
}

@media (width < 768px) {
  .aim {
    width: 100%;
  }

  .ourTeam {
    width: 100vw;
  }

  .ourTeam > h1 {
    font-size: 30vw;
    width: 100vw;
  }

  .teamCategory {
    width: max-content;
    margin: 0;
  }
  
  .teamCategory .cards {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}