.sec {
    width: 95%;
    margin: 0 auto;
}



/* Responsive Styles */
@media (min-width: 768px) {
    .highlights{
        font-size: 2rem;
        width: 100% !important;
        max-width: 1440px;
    }
}

@media (min-width: 1024px) {
    .sec{
        width: 80%;
        margin: 0 auto;
    }
    .highlights{
        font-size: 3rem;
    }
}
.about {
    padding: 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 90%;
    margin: 5rem auto;
}


.about h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 1.5rem;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #495057;
    text-align: justify;
    animation: slideIn 1s ease-in-out;
}

.about p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
}

.about p:hover {
    color: #212529;
}
.whyAttend {
    padding: 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 90%;
    margin: 5rem auto;
    border-radius: 10px;
}

.whyAttend h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 1.5rem;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.whyAttend ul {
    list-style-type: none;
    padding: 0;
}

.whyAttend li {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #495057;
    text-align: justify;
    position: relative;
    padding-left: 1.5rem;
    animation: slideIn 1s ease-in-out;
}

.whyAttend li::before {
    content: '\2022'; /* Bullet point */
    color: #007bff;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
}

.whyAttend li:hover {
    color: #212529;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



/* card end  */