.servicesSection {
    padding: 4rem 0;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
}

.colMd3 {
    flex: 0 0 15%;
    max-width: 15%;
}

.mediaBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.iconContainer {
    margin-bottom: 1rem;
}

.icon {
    font-size: 2.5rem;
}

.mediaBody {
    flex: 1;
}

.heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #333;
}

.servicesSection p {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 1120px) {
    .colMd3 {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .colMd3 {
        flex: 0 0 90%;
        max-width: 90%;
    }
}